<div class="flex flex-col items-center w-full space-y-4 mt-6">
  <% if posts.empty? %>
    <p>投稿はありません</p>
  <% else %>
    <% posts.each do |post| %>   
      <div class="w-full max-w-2xl">
          <%= render partial: "shared/my_post", locals: { post: post } %>  
      </div>
    <% end %>
  <% end %>
</div>