<h2><%= @user.name %> フォロー</h2>

<% if @following_users.empty? %>
  <p>フォローしているユーザーはいません。</p>
<% else %>
    <% @following_users.each do |user| %>
    <div>
        <%= link_to profile_path(user.id) do %>
            <%= user.name %>
        <% end %>
    </div>
    <% end %>
<% end %>

