通知だよ～～
<% @notifications.each do |notification| %>
  <div class="notification">
    <% if notification.follow? %>
      <%= link_to notification.notifable.follower.name, profile_path(notification.notifable.follower) %> さんがあなたをフォローしました。
    <% elsif notification.like? %>
      <%= link_to notification.notifable.user.name, profile_path(notification.notifable.user) %> さんがあなたの投稿にいいねしました。
    <% end %>
  </div>
<% end %>
