<%= link_to now_location_destinations_path,class: "#{"active" if controller_name == "destinations" }" do %>
    <i class="fa-solid fa-train-subway fa-2x"></i>
    <p class="text-gray-100">駅を探す</p>
<% end %>