<div class="flex flex-col justify-center">
<% posts.each do |post| %>   
    <% if current_user.post?(post) %>
      <%= render partial: "my_post", locals: { post: post } %>  
    <% else %>
      <%= render partial: "other_post", locals: { post: post } %>  
    <% end %>
<% end %>
</div>

