
<div class="">
    <div class="navbar bg-base-100 flex justify-center flex-col">
      <div>
        <h1 class="text-3xl font-bold underline">
            みんなの到着報告
        </h1>
      </div>

      <nav class="navbar bg-base-100 flex justify-center mt-4">
        <div class="navbar-center">
          <ul class="menu menu-horizontal gap-2">
            <li>
              <%= link_to "全体", all_index_posts_path, class: "#{"active" if action_name == "all_index"}" %>
            </li>
            <li>
                <%= link_to "フォロー中",following_index_posts_path, class: "#{"active" if action_name == "following_index"}" %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <%= case action_name
      when "all_index"
        render partial: "post", locals: { posts: @posts }
      when "following_index"
        render partial: "post", locals: { posts: @posts }
      end %>
</div>
