<h1>到着報告をする！</h1>

<%= form_for @post do |f| %>
  <div class="label">
    <%= f.label :content, class:"label-text" %>
  </div>
  <%= f.text_area :content, class:"textarea textarea-bordered h-24" %>
  <div>
  <%= f.submit "報告！", class:"btn" %>
  </div>
<% end %>
