<h1>駅を探す</h1>
<p>APIの仕様上、20件までしか取得されません、すみません、</p>

<div 
  data-controller="destinations"
  data-destinations-target="all"
  >
  <label
    class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">検索範囲を指定</span>
      <span class="label-text-alt">(km)</span>
    </div>
    <select
      name="radius"
      data-destinations-target="input"
      class="select select-bordered">
      <% (1..5).each do |km| %>
        <option value="<%= 1000 * km %>">
          <%= km %>
        </option>
      <% end %>
    </select>
  </label>
  <button
    class="btn"
    data-action="destinations#getGeoLocation"
    >
    周辺の駅を検索！
  </button>
  <div data-destinations-target="list">
  <!-- 駅データをここに表示 -->
  </div>
  <div data-destinations-target="result">
    <!-- シャッフル結果を表示 -->
  </div>
</div>
