
<% if users.empty? %>
    <p>ユーザーが見つかりません</p>
 <% else %>
    <% users.each do |user| %>
    <div class="user">
        <%= link_to profile_path(user.id) do %>
            <h2><%= user.name %></h2>
        <% end %>
        <p><%= user.profile %></p>
    </div>
    <% end %>

<% end %>
