<p>えきぷらっとからパスワード再設定のお知らせです。</p>

<p>パスワードを変更するためのリンクをリクエストされました。下記リンクから変更が可能です。</p>

<p><%= link_to 'パスワード変更URL', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない場合は、お手数ですがメールを破棄してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
