<p>えきぷらっと　パスワードリセットメールのお知らせ</p>

<p>パスワードリセットリンクが作成されました。下記リンクより、パスワードの変更が可能です。</p>

<p><%= link_to 'パスワード変更リンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールにお心当たりがない場合は、本メールを破棄してください。</p>
<p>リンクからパスワードが変更されない限り、パスワードが変更されることはありません。</p>
